src/main/resources/schema/EA.CompareLog.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="EA.CompareLog">
        <xsd:complexType mixed="true">
            <xsd:sequence>
                <xsd:element name="ComparePackage" minOccurs="0">
                    <xsd:complexType mixed="true">
                        <xsd:sequence>
                            <xsd:element name="CompareResults" minOccurs="0">
                                <xsd:complexType mixed="true">
                                    <xsd:sequence>
                                        <xsd:element name="CompareItem" minOccurs="0">
                                            <xsd:complexType mixed="true">
                                                <xsd:sequence>
                                                    <xsd:element name="CompareItem" maxOccurs="unbounded">
                                                        <xsd:complexType mixed="true">
                                                            <xsd:sequence>
                                                                <xsd:element name="Properties" minOccurs="0">
                                                                    <xsd:complexType mixed="true">
                                                                        <xsd:sequence>
                                                                            <xsd:element name="Property" maxOccurs="unbounded">
                                                                                <xsd:complexType>
                                                                                    <xsd:simpleContent>
                                                                                        <xsd:extension base="xsd:string">
                                                                                            <xsd:attribute name="name" type="xsd:normalizedString" use="required" />
                                                                                            <xsd:attribute name="model" type="xsd:boolean" use="required" />
                                                                                            <xsd:attribute name="baseline" type="xsd:boolean" use="required" />
                                                                                            <xsd:attribute name="status" type="xsd:normalizedString" use="required" />
                                                                                        </xsd:extension>
                                                                                    </xsd:simpleContent>
                                                                                </xsd:complexType>
                                                                            </xsd:element>
                                                                        </xsd:sequence>
                                                                    </xsd:complexType>
                                                                </xsd:element>
                                                                <xsd:element name="CompareItem" maxOccurs="unbounded">
                                                                    <xsd:complexType mixed="true">
                                                                        <xsd:sequence>
                                                                            <xsd:element name="Properties" minOccurs="0">
                                                                                <xsd:complexType mixed="true">
                                                                                    <xsd:sequence>
                                                                                        <xsd:element name="Property" maxOccurs="unbounded">
                                                                                            <xsd:complexType>
                                                                                                <xsd:simpleContent>
                                                                                                    <xsd:extension base="xsd:string">
                                                                                                        <xsd:attribute name="name" type="xsd:normalizedString" use="required" />
                                                                                                        <xsd:attribute name="model" type="xsd:boolean" use="required" />
                                                                                                        <xsd:attribute name="baseline" type="xsd:boolean" use="required" />
                                                                                                        <xsd:attribute name="status" type="xsd:normalizedString" use="required" />
                                                                                                    </xsd:extension>
                                                                                                </xsd:simpleContent>
                                                                                            </xsd:complexType>
                                                                                        </xsd:element>
                                                                                    </xsd:sequence>
                                                                                </xsd:complexType>
                                                                            </xsd:element>
                                                                            <xsd:element name="CompareItem" maxOccurs="unbounded">
                                                                                <xsd:complexType mixed="true">
                                                                                    <xsd:sequence>
                                                                                        <xsd:element name="Properties" minOccurs="0">
                                                                                            <xsd:complexType mixed="true">
                                                                                                <xsd:sequence>
                                                                                                    <xsd:element name="Property" maxOccurs="unbounded">
                                                                                                        <xsd:complexType>
                                                                                                            <xsd:simpleContent>
                                                                                                                <xsd:extension base="xsd:string">
                                                                                                                    <xsd:attribute name="name" type="xsd:normalizedString" use="required" />
                                                                                                                    <xsd:attribute name="model" type="xsd:boolean" use="required" />
                                                                                                                    <xsd:attribute name="status" type="xsd:string" use="required" />
                                                                                                                </xsd:extension>
                                                                                                            </xsd:simpleContent>
                                                                                                        </xsd:complexType>
                                                                                                    </xsd:element>
                                                                                                </xsd:sequence>
                                                                                            </xsd:complexType>
                                                                                        </xsd:element>
                                                                                        <xsd:element name="CompareItem" maxOccurs="unbounded">
                                                                                            <xsd:complexType mixed="true">
                                                                                                <xsd:sequence>
                                                                                                    <xsd:element name="Properties" minOccurs="0">
                                                                                                        <xsd:complexType mixed="true">
                                                                                                            <xsd:sequence>
                                                                                                                <xsd:element name="Property" maxOccurs="unbounded">
                                                                                                                    <xsd:complexType>
                                                                                                                        <xsd:simpleContent>
                                                                                                                            <xsd:extension base="xsd:string">
                                                                                                                                <xsd:attribute name="name" type="xsd:normalizedString" use="required" />
                                                                                                                                <xsd:attribute name="model" type="xsd:boolean" use="required" />
                                                                                                                                <xsd:attribute name="status" type="xsd:string" use="required" />
                                                                                                                            </xsd:extension>
                                                                                                                        </xsd:simpleContent>
                                                                                                                    </xsd:complexType>
                                                                                                                </xsd:element>
                                                                                                            </xsd:sequence>
                                                                                                        </xsd:complexType>
                                                                                                    </xsd:element>
                                                                                                    <xsd:element name="CompareItem" maxOccurs="unbounded">
                                                                                                        <xsd:complexType mixed="true">
                                                                                                            <xsd:sequence>
                                                                                                                <xsd:element name="Properties" minOccurs="0">
                                                                                                                    <xsd:complexType mixed="true">
                                                                                                                        <xsd:sequence>
                                                                                                                            <xsd:element name="Property" maxOccurs="unbounded">
                                                                                                                                <xsd:complexType>
                                                                                                                                    <xsd:simpleContent>
                                                                                                                                        <xsd:extension base="xsd:string">
                                                                                                                                            <xsd:attribute name="name" type="xsd:normalizedString" use="required" />
                                                                                                                                            <xsd:attribute name="model" type="xsd:boolean" use="required" />
                                                                                                                                            <xsd:attribute name="status" type="xsd:string" use="required" />
                                                                                                                                        </xsd:extension>
                                                                                                                                    </xsd:simpleContent>
                                                                                                                                </xsd:complexType>
                                                                                                                            </xsd:element>
                                                                                                                        </xsd:sequence>
                                                                                                                    </xsd:complexType>
                                                                                                                </xsd:element>
                                                                                                                <xsd:element name="CompareItem" minOccurs="0">
                                                                                                                    <xsd:complexType mixed="true">
                                                                                                                        <xsd:sequence>
                                                                                                                            <xsd:element name="CompareItem" minOccurs="0">
                                                                                                                                <xsd:complexType mixed="true">
                                                                                                                                    <xsd:sequence>
                                                                                                                                        <xsd:element name="Properties" minOccurs="0">
                                                                                                                                            <xsd:complexType mixed="true">
                                                                                                                                                <xsd:sequence>
                                                                                                                                                    <xsd:element name="Property" maxOccurs="unbounded">
                                                                                                                                                        <xsd:complexType>
                                                                                                                                                            <xsd:simpleContent>
                                                                                                                                                                <xsd:extension base="xsd:string">
                                                                                                                                                                    <xsd:attribute name="name" type="xsd:normalizedString" use="required" />
                                                                                                                                                                    <xsd:attribute name="model" type="xsd:normalizedString" use="required" />
                                                                                                                                                                    <xsd:attribute name="status" type="xsd:string" use="required" />
                                                                                                                                                                </xsd:extension>
                                                                                                                                                            </xsd:simpleContent>
                                                                                                                                                        </xsd:complexType>
                                                                                                                                                    </xsd:element>
                                                                                                                                                </xsd:sequence>
                                                                                                                                            </xsd:complexType>
                                                                                                                                        </xsd:element>
                                                                                                                                        <xsd:element name="CompareItem" maxOccurs="unbounded">
                                                                                                                                            <xsd:complexType mixed="true">
                                                                                                                                                <xsd:sequence>
                                                                                                                                                    <xsd:element name="Properties" minOccurs="0">
                                                                                                                                                        <xsd:complexType mixed="true">
                                                                                                                                                            <xsd:sequence>
                                                                                                                                                                <xsd:element name="Property" maxOccurs="unbounded">
                                                                                                                                                                    <xsd:complexType>
                                                                                                                                                                        <xsd:simpleContent>
                                                                                                                                                                            <xsd:extension base="xsd:string">
                                                                                                                                                                                <xsd:attribute name="name" type="xsd:normalizedString"
                                                                                                                                                                                    use="required" />
                                                                                                                                                                                <xsd:attribute name="model" type="xsd:normalizedString"
                                                                                                                                                                                    use="required" />
                                                                                                                                                                                <xsd:attribute name="status" type="xsd:string"
                                                                                                                                                                                    use="required" />
                                                                                                                                                                            </xsd:extension>
                                                                                                                                                                        </xsd:simpleContent>
                                                                                                                                                                    </xsd:complexType>
                                                                                                                                                                </xsd:element>
                                                                                                                                                            </xsd:sequence>
                                                                                                                                                        </xsd:complexType>
                                                                                                                                                    </xsd:element>
                                                                                                                                                </xsd:sequence>
                                                                                                                                                <xsd:attribute name="name" type="xsd:string" use="required" />
                                                                                                                                                <xsd:attribute name="type" type="xsd:normalizedString" use="required" />
                                                                                                                                                <xsd:attribute name="guid" type="xsd:normalizedString" use="required" />
                                                                                                                                                <xsd:attribute name="status" type="xsd:string" use="required" />
                                                                                                                                            </xsd:complexType>
                                                                                                                                        </xsd:element>
                                                                                                                                    </xsd:sequence>
                                                                                                                                    <xsd:attribute name="name" type="xsd:normalizedString" use="required" />
                                                                                                                                    <xsd:attribute name="type" type="xsd:string" use="required" />
                                                                                                                                    <xsd:attribute name="guid" type="xsd:normalizedString" use="required" />
                                                                                                                                    <xsd:attribute name="status" type="xsd:string" use="required" />
                                                                                                                                </xsd:complexType>
                                                                                                                            </xsd:element>
                                                                                                                        </xsd:sequence>
                                                                                                                        <xsd:attribute name="name" type="xsd:normalizedString" use="required" />
                                                                                                                        <xsd:attribute name="type" type="xsd:normalizedString" use="required" />
                                                                                                                        <xsd:attribute name="guid" type="xsd:normalizedString" use="required" />
                                                                                                                        <xsd:attribute name="status" type="xsd:normalizedString" use="required" />
                                                                                                                    </xsd:complexType>
                                                                                                                </xsd:element>
                                                                                                            </xsd:sequence>
                                                                                                            <xsd:attribute name="name" type="xsd:normalizedString" use="required" />
                                                                                                            <xsd:attribute name="type" type="xsd:normalizedString" use="required" />
                                                                                                            <xsd:attribute name="guid" type="xsd:normalizedString" use="required" />
                                                                                                            <xsd:attribute name="status" type="xsd:string" use="required" />
                                                                                                        </xsd:complexType>
                                                                                                    </xsd:element>
                                                                                                </xsd:sequence>
                                                                                                <xsd:attribute name="name" type="xsd:normalizedString" use="required" />
                                                                                                <xsd:attribute name="type" type="xsd:normalizedString" use="required" />
                                                                                                <xsd:attribute name="guid" type="xsd:normalizedString" use="required" />
                                                                                                <xsd:attribute name="status" type="xsd:string" use="required" />
                                                                                            </xsd:complexType>
                                                                                        </xsd:element>
                                                                                    </xsd:sequence>
                                                                                    <xsd:attribute name="name" type="xsd:normalizedString" use="required" />
                                                                                    <xsd:attribute name="type" type="xsd:normalizedString" use="required" />
                                                                                    <xsd:attribute name="guid" type="xsd:normalizedString" use="required" />
                                                                                    <xsd:attribute name="status" type="xsd:string" use="required" />
                                                                                </xsd:complexType>
                                                                            </xsd:element>
                                                                        </xsd:sequence>
                                                                        <xsd:attribute name="name" type="xsd:normalizedString" use="required" />
                                                                        <xsd:attribute name="type" type="xsd:normalizedString" use="required" />
                                                                        <xsd:attribute name="guid" type="xsd:normalizedString" use="required" />
                                                                        <xsd:attribute name="status" type="xsd:normalizedString" use="required" />
                                                                    </xsd:complexType>
                                                                </xsd:element>
                                                            </xsd:sequence>
                                                            <xsd:attribute name="name" type="xsd:normalizedString" use="required" />
                                                            <xsd:attribute name="type" type="xsd:normalizedString" use="required" />
                                                            <xsd:attribute name="guid" type="xsd:normalizedString" use="required" />
                                                            <xsd:attribute name="status" type="xsd:normalizedString" use="required" />
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                </xsd:sequence>
                                                <xsd:attribute name="name" type="xsd:normalizedString" use="required" />
                                                <xsd:attribute name="type" type="xsd:normalizedString" use="required" />
                                                <xsd:attribute name="guid" type="xsd:normalizedString" use="required" />
                                                <xsd:attribute name="status" type="xsd:string" use="required" />
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                    <xsd:attribute name="hasChanges" type="xsd:boolean" use="required" />
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                        <xsd:attribute name="name" type="xsd:normalizedString" use="required" />
                        <xsd:attribute name="guid" type="xsd:normalizedString" use="required" />
                        <xsd:attribute name="packageID" type="xsd:int" use="required" />
                        <xsd:attribute name="comparedBy" type="xsd:normalizedString" use="required" />
                        <xsd:attribute name="comparedOn" type="xsd:string" use="required" />
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>