src/main/resources/schema/UML_1.3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="omg.org/UML1.3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Model" type="uml1:ModelType" xmlns:uml1="omg.org/UML1.3" />
    <xs:element name="Diagram" type="uml1:DiagramType" xmlns:uml1="omg.org/UML1.3" />
    <xs:element name="ModelElement.taggedValue" type="uml1:ModelElement.taggedValueType" xmlns:uml1="omg.org/UML1.3" />
    <xs:complexType name="ClassType" mixed="true">
        <xs:sequence>
            <xs:element type="uml1:ModelElement.stereotypeType" name="ModelElement.stereotype" minOccurs="0" xmlns:uml1="omg.org/UML1.3" />
            <xs:element type="uml1:ModelElement.taggedValueType" name="ModelElement.taggedValue" minOccurs="0" xmlns:uml1="omg.org/UML1.3" />
            <xs:element type="uml1:Classifier.featureType" name="Classifier.feature" minOccurs="0" xmlns:uml1="omg.org/UML1.3" />
            <xs:element type="uml1:Association.connectionType" name="Association.connection" minOccurs="0" xmlns:uml1="omg.org/UML1.3" />
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="optional" />
        <xs:attribute type="xs:string" name="xmi.id" use="optional" />
        <xs:attribute type="xs:string" name="isRoot" use="optional" />
        <xs:attribute type="xs:string" name="isLeaf" use="optional" />
        <xs:attribute type="xs:string" name="isAbstract" use="optional" />
        <xs:attribute type="xs:string" name="visibility" use="optional" />
        <xs:attribute type="xs:string" name="namespace" use="optional" />
        <xs:attribute type="xs:string" name="isActive" use="optional" />
        <xs:attribute type="xs:string" name="subtype" use="optional" />
        <xs:attribute type="xs:string" name="supertype" use="optional" />
        <xs:attribute type="xs:string" name="client" use="optional" />
        <xs:attribute type="xs:string" name="supplier" use="optional" />
    </xs:complexType>
    <xs:complexType name="TaggedValueType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="tag" use="optional" />
                <xs:attribute type="xs:string" name="value" use="optional" />
                <xs:attribute type="xs:string" name="xmi.id" use="optional" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="ModelElement.taggedValueType">
        <xs:sequence>
            <xs:element type="uml1:TaggedValueType" name="TaggedValue" maxOccurs="unbounded" minOccurs="0" xmlns:uml1="omg.org/UML1.3" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClassifierRoleType">
        <xs:sequence>
            <xs:element type="uml1:ModelElement.taggedValueType" name="ModelElement.taggedValue" xmlns:uml1="omg.org/UML1.3" />
            <xs:element type="uml1:Association.connectionType" name="Association.connection" minOccurs="0" xmlns:uml1="omg.org/UML1.3" />
            <xs:element type="uml1:ModelElement.constraintType" name="ModelElement.constraint" minOccurs="0" xmlns:uml1="omg.org/UML1.3" />
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="optional" />
        <xs:attribute type="xs:string" name="xmi.id" use="optional" />
        <xs:attribute type="xs:string" name="visibility" use="optional" />
        <xs:attribute type="xs:string" name="base" use="optional" />
        <xs:attribute type="xs:string" name="isRoot" use="optional" />
        <xs:attribute type="xs:string" name="isLeaf" use="optional" />
        <xs:attribute type="xs:string" name="isAbstract" use="optional" />
    </xs:complexType>
    <xs:complexType name="Namespace.ownedElementType" mixed="true">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element type="uml1:ClassifierRoleType" name="ClassifierRole" xmlns:uml1="omg.org/UML1.3" />
            <xs:element type="uml1:ClassType" name="Class" xmlns:uml1="omg.org/UML1.3" />
            <xs:element type="uml1:AssociationType" name="Association" xmlns:uml1="omg.org/UML1.3" />
            <xs:element type="uml1:GeneralizationType" name="Generalization" xmlns:uml1="omg.org/UML1.3" />
            <xs:element type="uml1:CommentType" name="Comment" xmlns:uml1="omg.org/UML1.3" />
            <xs:element type="uml1:CollaborationType" name="Collaboration" xmlns:uml1="omg.org/UML1.3" />
            <xs:element type="uml1:PackageType" name="Package" xmlns:uml1="omg.org/UML1.3" />
            <xs:element type="uml1:AssociationRoleType" name="AssociationRole" xmlns:uml1="omg.org/UML1.3" />
            <xs:element type="uml1:DependencyType" name="Dependency" xmlns:uml1="omg.org/UML1.3" />
            <xs:element type="uml1:DataTypeType" name="DataType" xmlns:uml1="omg.org/UML1.3" />
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CollaborationType" mixed="true">
        <xs:sequence>
            <xs:element type="uml1:Namespace.ownedElementType" name="Namespace.ownedElement" minOccurs="0" xmlns:uml1="omg.org/UML1.3" />
            <xs:element name="Collaboration.interaction" minOccurs="0">
                <xs:complexType mixed="true">
                    <xs:sequence>
                        <xs:element type="uml1:InteractionType" name="Interaction" minOccurs="0" xmlns:uml1="omg.org/UML1.3" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element type="uml1:ModelElement.stereotypeType" name="ModelElement.stereotype" minOccurs="0" xmlns:uml1="omg.org/UML1.3" />
            <xs:element type="uml1:ModelElement.taggedValueType" name="ModelElement.taggedValue" minOccurs="0" xmlns:uml1="omg.org/UML1.3" />
            <xs:element type="uml1:Classifier.featureType" name="Classifier.feature" minOccurs="0" xmlns:uml1="omg.org/UML1.3" />
            <xs:element type="uml1:Association.connectionType" name="Association.connection" minOccurs="0" xmlns:uml1="omg.org/UML1.3" />
        </xs:sequence>
        <xs:attribute type="xs:string" name="xmi.id" use="optional" />
        <xs:attribute type="xs:string" name="name" use="optional" />
        <xs:attribute type="xs:string" name="isRoot" use="optional" />
        <xs:attribute type="xs:string" name="isLeaf" use="optional" />
        <xs:attribute type="xs:string" name="isAbstract" use="optional" />
        <xs:attribute type="xs:string" name="visibility" use="optional" />
        <xs:attribute type="xs:string" name="namespace" use="optional" />
        <xs:attribute type="xs:string" name="isActive" use="optional" />
        <xs:attribute type="xs:string" name="subtype" use="optional" />
        <xs:attribute type="xs:string" name="supertype" use="optional" />
        <xs:attribute type="xs:string" name="client" use="optional" />
        <xs:attribute type="xs:string" name="supplier" use="optional" />
    </xs:complexType>
    <xs:complexType name="DependencyType" mixed="true">
        <xs:sequence>
            <xs:element type="uml1:ModelElement.stereotypeType" name="ModelElement.stereotype" minOccurs="0" xmlns:uml1="omg.org/UML1.3" />
            <xs:element type="uml1:ModelElement.taggedValueType" name="ModelElement.taggedValue" minOccurs="0" xmlns:uml1="omg.org/UML1.3" />
            <xs:element type="uml1:Classifier.featureType" name="Classifier.feature" minOccurs="0" xmlns:uml1="omg.org/UML1.3" />
            <xs:element type="uml1:Association.connectionType" name="Association.connection" minOccurs="0" xmlns:uml1="omg.org/UML1.3" />
        </xs:sequence>
        <xs:attribute type="xs:string" name="client" use="optional" />
        <xs:attribute type="xs:string" name="supplier" use="optional" />
        <xs:attribute type="xs:string" name="xmi.id" use="optional" />
        <xs:attribute type="xs:string" name="visibility" use="optional" />
        <xs:attribute type="xs:string" name="namespace" use="optional" />
        <xs:attribute type="xs:string" name="name" use="optional" />
        <xs:attribute type="xs:string" name="isRoot" use="optional" />
        <xs:attribute type="xs:string" name="isLeaf" use="optional" />
        <xs:attribute type="xs:string" name="isAbstract" use="optional" />
        <xs:attribute type="xs:string" name="isActive" use="optional" />
        <xs:attribute type="xs:string" name="subtype" use="optional" />
        <xs:attribute type="xs:string" name="supertype" use="optional" />
    </xs:complexType>
    <xs:complexType name="CommentType" mixed="true">
        <xs:sequence>
            <xs:element type="uml1:ModelElement.stereotypeType" name="ModelElement.stereotype" minOccurs="0" xmlns:uml1="omg.org/UML1.3" />
            <xs:element type="uml1:ModelElement.taggedValueType" name="ModelElement.taggedValue" minOccurs="0" xmlns:uml1="omg.org/UML1.3" />
            <xs:element type="uml1:Classifier.featureType" name="Classifier.feature" minOccurs="0" xmlns:uml1="omg.org/UML1.3" />
            <xs:element type="uml1:Association.connectionType" name="Association.connection" minOccurs="0" xmlns:uml1="omg.org/UML1.3" />
        </xs:sequence>
        <xs:attribute type="xs:string" name="xmi.id" use="optional" />
        <xs:attribute type="xs:string" name="visibility" use="optional" />
        <xs:attribute type="xs:string" name="namespace" use="optional" />
        <xs:attribute type="xs:string" name="name" use="optional" />
        <xs:attribute type="xs:string" name="isRoot" use="optional" />
        <xs:attribute type="xs:string" name="isLeaf" use="optional" />
        <xs:attribute type="xs:string" name="isAbstract" use="optional" />
        <xs:attribute type="xs:string" name="isActive" use="optional" />
        <xs:attribute type="xs:string" name="subtype" use="optional" />
        <xs:attribute type="xs:string" name="supertype" use="optional" />
        <xs:attribute type="xs:string" name="client" use="optional" />
        <xs:attribute type="xs:string" name="supplier" use="optional" />
    </xs:complexType>
    <xs:complexType name="ExpressionType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="body" use="optional" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="Attribute.initialValueType">
        <xs:sequence>
            <xs:element type="uml1:ExpressionType" name="Expression" xmlns:uml1="omg.org/UML1.3" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClassifierType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="xmi.idref" use="optional" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="StructuralFeature.typeType">
        <xs:sequence>
            <xs:element type="uml1:ClassifierType" name="Classifier" xmlns:uml1="omg.org/UML1.3" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AttributeType">
        <xs:sequence>
            <xs:element type="uml1:Attribute.initialValueType" name="Attribute.initialValue" xmlns:uml1="omg.org/UML1.3" />
            <xs:element type="uml1:StructuralFeature.typeType" name="StructuralFeature.type" xmlns:uml1="omg.org/UML1.3" />
            <xs:element type="uml1:ModelElement.stereotypeType" name="ModelElement.stereotype" minOccurs="0" xmlns:uml1="omg.org/UML1.3" />
            <xs:element type="uml1:ModelElement.taggedValueType" name="ModelElement.taggedValue" xmlns:uml1="omg.org/UML1.3" />
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="optional" />
        <xs:attribute type="xs:string" name="changeable" use="optional" />
        <xs:attribute type="xs:string" name="visibility" use="optional" />
        <xs:attribute type="xs:string" name="ownerScope" use="optional" />
        <xs:attribute type="xs:string" name="targetScope" use="optional" />
    </xs:complexType>
    <xs:complexType name="Classifier.featureType">
        <xs:sequence>
            <xs:element type="uml1:AttributeType" name="Attribute" maxOccurs="unbounded" minOccurs="0" xmlns:uml1="omg.org/UML1.3" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StereotypeType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name" use="optional" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="ModelElement.stereotypeType">
        <xs:sequence>
            <xs:element type="uml1:StereotypeType" name="Stereotype" xmlns:uml1="omg.org/UML1.3" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AssociationEndType">
        <xs:sequence>
            <xs:element type="uml1:ModelElement.taggedValueType" name="ModelElement.taggedValue" xmlns:uml1="omg.org/UML1.3" />
        </xs:sequence>
        <xs:attribute type="xs:string" name="visibility" use="optional" />
        <xs:attribute type="xs:string" name="multiplicity" use="optional" />
        <xs:attribute type="xs:string" name="name" use="optional" />
        <xs:attribute type="xs:string" name="aggregation" use="optional" />
        <xs:attribute type="xs:string" name="isOrdered" use="optional" />
        <xs:attribute type="xs:string" name="targetScope" use="optional" />
        <xs:attribute type="xs:string" name="changeable" use="optional" />
        <xs:attribute type="xs:string" name="isNavigable" use="optional" />
        <xs:attribute type="xs:string" name="type" use="optional" />
    </xs:complexType>
    <xs:complexType name="Association.connectionType">
        <xs:sequence>
            <xs:element type="uml1:AssociationEndType" name="AssociationEnd" maxOccurs="unbounded" minOccurs="0" xmlns:uml1="omg.org/UML1.3" />
            <xs:element type="uml1:AssociationEndRoleType" name="AssociationEndRole" maxOccurs="unbounded" minOccurs="0" xmlns:uml1="omg.org/UML1.3" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AssociationType" mixed="true">
        <xs:sequence>
            <xs:element type="uml1:ModelElement.stereotypeType" name="ModelElement.stereotype" minOccurs="0" xmlns:uml1="omg.org/UML1.3" />
            <xs:element type="uml1:ModelElement.taggedValueType" name="ModelElement.taggedValue" minOccurs="0" xmlns:uml1="omg.org/UML1.3" />
            <xs:element type="uml1:Classifier.featureType" name="Classifier.feature" minOccurs="0" xmlns:uml1="omg.org/UML1.3" />
            <xs:element type="uml1:Association.connectionType" name="Association.connection" minOccurs="0" xmlns:uml1="omg.org/UML1.3" />
        </xs:sequence>
        <xs:attribute type="xs:string" name="xmi.id" use="optional" />
        <xs:attribute type="xs:string" name="visibility" use="optional" />
        <xs:attribute type="xs:string" name="isRoot" use="optional" />
        <xs:attribute type="xs:string" name="isLeaf" use="optional" />
        <xs:attribute type="xs:string" name="isAbstract" use="optional" />
        <xs:attribute type="xs:string" name="subtype" use="optional" />
        <xs:attribute type="xs:string" name="supertype" use="optional" />
        <xs:attribute type="xs:string" name="name" use="optional" />
        <xs:attribute type="xs:string" name="namespace" use="optional" />
        <xs:attribute type="xs:string" name="isActive" use="optional" />
        <xs:attribute type="xs:string" name="client" use="optional" />
        <xs:attribute type="xs:string" name="supplier" use="optional" />
    </xs:complexType>
    <xs:complexType name="GeneralizationType" mixed="true">
        <xs:sequence>
            <xs:element type="uml1:ModelElement.stereotypeType" name="ModelElement.stereotype" minOccurs="0" xmlns:uml1="omg.org/UML1.3" />
            <xs:element type="uml1:ModelElement.taggedValueType" name="ModelElement.taggedValue" minOccurs="0" xmlns:uml1="omg.org/UML1.3" />
            <xs:element type="uml1:Classifier.featureType" name="Classifier.feature" minOccurs="0" xmlns:uml1="omg.org/UML1.3" />
            <xs:element type="uml1:Association.connectionType" name="Association.connection" minOccurs="0" xmlns:uml1="omg.org/UML1.3" />
        </xs:sequence>
        <xs:attribute type="xs:string" name="subtype" use="optional" />
        <xs:attribute type="xs:string" name="supertype" use="optional" />
        <xs:attribute type="xs:string" name="xmi.id" use="optional" />
        <xs:attribute type="xs:string" name="visibility" use="optional" />
    </xs:complexType>
    <xs:complexType name="PackageType">
        <xs:sequence>
            <xs:element type="uml1:ModelElement.taggedValueType" name="ModelElement.taggedValue" xmlns:uml1="omg.org/UML1.3" />
            <xs:element type="uml1:Namespace.ownedElementType" name="Namespace.ownedElement" xmlns:uml1="omg.org/UML1.3" />
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="optional" />
        <xs:attribute type="xs:string" name="xmi.id" use="optional" />
        <xs:attribute type="xs:string" name="isRoot" use="optional" />
        <xs:attribute type="xs:string" name="isLeaf" use="optional" />
        <xs:attribute type="xs:string" name="isAbstract" use="optional" />
        <xs:attribute type="xs:string" name="visibility" use="optional" />
    </xs:complexType>
    <xs:complexType name="AssociationEndRoleType">
        <xs:sequence>
            <xs:element type="uml1:ModelElement.taggedValueType" name="ModelElement.taggedValue" xmlns:uml1="omg.org/UML1.3" />
        </xs:sequence>
        <xs:attribute type="xs:string" name="visibility" use="optional" />
        <xs:attribute type="xs:string" name="aggregation" use="optional" />
        <xs:attribute type="xs:string" name="isOrdered" use="optional" />
        <xs:attribute type="xs:string" name="targetScope" use="optional" />
        <xs:attribute type="xs:string" name="changeable" use="optional" />
        <xs:attribute type="xs:string" name="isNavigable" use="optional" />
        <xs:attribute type="xs:string" name="type" use="optional" />
        <xs:attribute type="xs:string" name="name" use="optional" />
    </xs:complexType>
    <xs:complexType name="AssociationRoleType">
        <xs:sequence>
            <xs:element type="uml1:ModelElement.taggedValueType" name="ModelElement.taggedValue" xmlns:uml1="omg.org/UML1.3" />
            <xs:element type="uml1:Association.connectionType" name="Association.connection" minOccurs="0" xmlns:uml1="omg.org/UML1.3" />
            <xs:element type="uml1:ModelElement.constraintType" name="ModelElement.constraint" minOccurs="0" xmlns:uml1="omg.org/UML1.3" />
        </xs:sequence>
        <xs:attribute type="xs:string" name="xmi.id" use="optional" />
        <xs:attribute type="xs:string" name="visibility" use="optional" />
        <xs:attribute type="xs:string" name="isRoot" use="optional" />
        <xs:attribute type="xs:string" name="isLeaf" use="optional" />
        <xs:attribute type="xs:string" name="isAbstract" use="optional" />
        <xs:attribute type="xs:string" name="name" use="optional" />
        <xs:attribute type="xs:string" name="base" use="optional" />
    </xs:complexType>
    <xs:complexType name="ConstraintType">
        <xs:sequence>
            <xs:element type="uml1:ModelElement.taggedValueType" name="ModelElement.taggedValue" xmlns:uml1="omg.org/UML1.3" />
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="optional" />
    </xs:complexType>
    <xs:complexType name="ModelElement.constraintType">
        <xs:sequence>
            <xs:element type="uml1:ConstraintType" name="Constraint" maxOccurs="unbounded" minOccurs="0" xmlns:uml1="omg.org/UML1.3" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DataTypeType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="xmi.id" use="optional" />
                <xs:attribute type="xs:string" name="visibility" use="optional" />
                <xs:attribute type="xs:string" name="isRoot" use="optional" />
                <xs:attribute type="xs:string" name="isLeaf" use="optional" />
                <xs:attribute type="xs:string" name="isAbstract" use="optional" />
                <xs:attribute type="xs:string" name="name" use="optional" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="ModelType">
        <xs:sequence>
            <xs:element type="uml1:Namespace.ownedElementType" name="Namespace.ownedElement" xmlns:uml1="omg.org/UML1.3" />
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="optional" />
        <xs:attribute type="xs:string" name="xmi.id" use="optional" />
    </xs:complexType>
    <xs:complexType name="DiagramType">
        <xs:sequence>
            <xs:element type="uml1:ModelElement.taggedValueType" name="ModelElement.taggedValue" xmlns:uml1="omg.org/UML1.3" />
            <xs:element type="uml1:Diagram.elementType" name="Diagram.element" minOccurs="0" xmlns:uml1="omg.org/UML1.3" />
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="optional" />
        <xs:attribute type="xs:string" name="xmi.id" use="optional" />
        <xs:attribute type="xs:string" name="diagramType" use="optional" />
        <xs:attribute type="xs:string" name="owner" use="optional" />
        <xs:attribute type="xs:string" name="toolName" use="optional" />
    </xs:complexType>
    <xs:complexType name="DiagramElementType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="geometry" use="optional" />
                <xs:attribute type="xs:string" name="subject" use="optional" />
                <xs:attribute type="xs:string" name="seqno" use="optional" />
                <xs:attribute type="xs:string" name="style" use="optional" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="Diagram.elementType">
        <xs:sequence>
            <xs:element type="uml1:DiagramElementType" name="DiagramElement" maxOccurs="unbounded" minOccurs="0" xmlns:uml1="omg.org/UML1.3" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MessageType">
        <xs:sequence>
            <xs:element type="uml1:ModelElement.taggedValueType" name="ModelElement.taggedValue" xmlns:uml1="omg.org/UML1.3" />
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="optional" />
        <xs:attribute type="xs:string" name="xmi.id" use="optional" />
        <xs:attribute type="xs:string" name="visibility" use="optional" />
        <xs:attribute type="xs:string" name="sender" use="optional" />
        <xs:attribute type="xs:string" name="receiver" use="optional" />
    </xs:complexType>
    <xs:complexType name="Interaction.messageType">
        <xs:sequence>
            <xs:element type="uml1:MessageType" name="Message" maxOccurs="unbounded" minOccurs="0" xmlns:uml1="omg.org/UML1.3" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InteractionType">
        <xs:sequence>
            <xs:element type="uml1:Interaction.messageType" name="Interaction.message" xmlns:uml1="omg.org/UML1.3" />
        </xs:sequence>
        <xs:attribute type="xs:string" name="xmi.id" />
        <xs:attribute type="xs:string" name="name" />
    </xs:complexType>
    <xs:complexType name="Collaboration.interactionType">
        <xs:sequence>
            <xs:element type="uml1:InteractionType" name="Interaction" minOccurs="0" xmlns:uml1="omg.org/UML1.3" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>