src/main/resources/schema/XMI_1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import namespace="omg.org/UML1.3" schemaLocation="UML_1.3.xsd" />
    <xs:element name="XMI" type="XMIType" />
    <xs:complexType name="XMI.documentationType">
        <xs:sequence>
            <xs:element type="xs:string" name="XMI.exporter" />
            <xs:element type="xs:string" name="XMI.exporterVersion" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="XMI.headerType">
        <xs:sequence>
            <xs:element type="XMI.documentationType" name="XMI.documentation" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="XMI.contentType">
        <xs:sequence>
            <xs:element ref="uml1:Model" xmlns:uml1="omg.org/UML1.3" />
            <xs:element ref="uml1:Diagram" maxOccurs="unbounded" minOccurs="0" xmlns:uml1="omg.org/UML1.3" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EANoteLinkType">
        <xs:sequence>
            <xs:element ref="uml1:ModelElement.taggedValue" minOccurs="0" xmlns:uml1="omg.org/UML1.3" />
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="optional" />
        <xs:attribute type="xs:string" name="xmi.id" use="optional" />
        <xs:attribute type="xs:string" name="source" use="optional" />
        <xs:attribute type="xs:string" name="target" use="optional" />
    </xs:complexType>
    <xs:complexType name="EAScenarioType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name" use="optional" />
                <xs:attribute type="xs:string" name="type" use="optional" />
                <xs:attribute type="xs:string" name="weight" use="optional" />
                <xs:attribute type="xs:string" name="subject" use="optional" />
                <xs:attribute type="xs:string" name="xmi.id" use="optional" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="EAModel.scenarioType">
        <xs:sequence>
            <xs:element type="EAScenarioType" name="EAScenario" minOccurs="0" />
            <xs:element ref="uml1:ModelElement.taggedValue" minOccurs="0" xmlns:uml1="omg.org/UML1.3" />
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="optional" />
        <xs:attribute type="xs:string" name="xmi.id" use="optional" />
        <xs:attribute type="xs:string" name="source" use="optional" />
        <xs:attribute type="xs:string" name="target" use="optional" />
    </xs:complexType>
    <xs:complexType name="XMI.extensionsType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element type="xs:string" name="EAModel.paramSub" />
            <xs:element type="EANoteLinkType" name="EANoteLink" />
            <xs:element type="EAModel.scenarioType" name="EAModel.scenario" />
        </xs:choice>
        <xs:attribute type="xs:string" name="xmi.extender" use="optional" />
    </xs:complexType>
    <xs:complexType name="XMIType">
        <xs:sequence>
            <xs:element type="XMI.headerType" name="XMI.header" />
            <xs:element type="XMI.contentType" name="XMI.content" />
            <xs:element type="xs:string" name="XMI.difference" />
            <xs:element type="XMI.extensionsType" name="XMI.extensions" />
        </xs:sequence>
        <xs:attribute type="xs:string" name="xmi.version" use="optional" />
        <xs:attribute type="xs:string" name="timestamp" use="optional" />
    </xs:complexType>
</xs:schema>